* {
  --pf2e-head-bg: #522e2c;
}

.pf2e-statblock-callout {
  font-family: "Century Gothic", sans-serif;
  --list-indent: 1em;
}

.pf2e-statblock-callout ul {
  list-style: none;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.pf2e-statblock-callout hr {
  margin: 0.5rem 0;
}

.pf2e-statblock-callout ul > li {
  margin-inline-start: 0;
}

.pf2e-statblock-callout .list-bullet {
  display: none;
}

.pf2e-statblock-callout_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 9px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--pf2e-head-bg);
}

.pf2e-statblock-callout_traits {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85rem;
}

.pf2e-statblock-callout_traits > li {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  background-color: #531004;
  border: 2px double #d5c489;
  padding: 0 5px;
  margin: 0.1em 0;
}

.pf2e-statblock-callout_traits > li a {
  font-weight: inherit;
  color: inherit;
}

.pf2e-statblock-callout_content-list li {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 0.85rem;
}
